* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 20px;
	letter-spacing: 1.5px;
}

/* ==========================================================================
								VARIABLES
========================================================================== */

:root {
	--primary: #5476CD;
	--secondary: #FFF84D;
	--bebas-font: "Bebas Neue", sans-serif;
	--poppins-font: "Poppins", sans-serif;
}

header {
	padding: 30px 40px 30px 40px;
	background-color: var(--primary);
	font-family: var(--bebas-font);
	font-weight: 400;
	font-style: normal;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav {
	color: #ffffff;
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

header nav ul li {
	list-style: none;
	font-size: 24px;
	text-transform: uppercase;

}

header nav ul li:hover {
	color: var(--secondary);
	cursor: pointer;
}

.hire_btn {
	padding: 15px 30px;
	border-radius: 50px;
	color: #383125;
	display: inline;
	background-color: var(--secondary);
	outline: none;
	border: none;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 600;
	font-family: var(--bebas-font);
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.ph-arrow-up-right {
	display: inline-block;
	transition: transform 0.3s ease;
	transform-origin: center;
}

.hire_btn:hover .ph-arrow-up-right {
	transform: rotate(45deg);
}

.hire_btn:hover {
	text-decoration: underline;
}

/* ==========================================================================
							Hero Section
========================================================================== */

.hero_sec {
	padding: 0 40px 90px;
	background-color: var(--primary);
	color: #ffffff;
	display: grid;
	grid-template-columns: 50% 50%;
}

/* .hero_frame {
	background: transparent;
	border: 10px solid black;
	border-radius: 25px;
} */

.hero_left_sec h1 {
	margin: 100px 0 200px 0;
	font-family: var(--bebas-font);
	font-size: 100px;
}

.hero_left_sec .intro {
	max-width: 372px;
}

.hero_left_sec .intro h2 {
	font-family: var(--bebas-font);
	font-size: 32px;
}

.hero_left_sec .intro p {
	font-family: var(--poppins-font);
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
}

.hero_right_sec {
	text-align: end;
}

.hero_right_sec h2 {
	font-family: var(--bebas-font);
	letter-spacing: 1px;
	font-weight: 550;
}