* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	padding: 20px;
	letter-spacing: 1.5px;
}

/* ==========================================================================
								VARIABLES
========================================================================== */

:root {
	--primary: #5476CD;
	--secondary: #FFF84D;
	--bebas-font: "Bebas Neue", sans-serif;
	--poppins-font: "Poppins", sans-serif;
}

header {
	padding: 20px 40px 20px 40px;
	background-color: var(--primary);
	font-family: var(--bebas-font);
	font-weight: 400;
	font-style: normal;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 10px;
	z-index: 99;
}

header nav {
	color: #ffffff;
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

header nav ul li {
	list-style: none;
	font-size: 24px;
	text-transform: uppercase;

}

header nav ul li:hover {
	color: var(--secondary);
	cursor: pointer;
}

.hire_btn {
	padding: 15px 30px;
	border-radius: 50px;
	color: #383125;
	display: inline;
	background-color: var(--secondary);
	outline: none;
	border: none;
	text-transform: uppercase;
	font-size: 26px;
	font-weight: 600;
	font-family: var(--bebas-font);
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	position: relative;
}

.ph-arrow-up-right {
	display: inline-block;
	transition: transform 0.3s ease;
	transform-origin: center;
}

.hire_btn:hover .ph-arrow-up-right {
	transform: rotate(45deg);
}

.hire_btn:hover {
	text-decoration: underline;
}

/* ==========================================================================
							Hero Section
========================================================================== */

.hero_sec {
	padding: 0 40px 90px;
	background-color: var(--primary);
	color: #ffffff;
	display: grid;
	grid-template-columns: 50% 50%;
	position: relative;
}

.img_overlay {
	position: absolute;
	border-radius: 15px;
	bottom: 190px;
	right: 450px;
}

.hero_frame {
	background: transparent;
	border: 10px solid black;
	border-radius: 25px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 10;
}

.hero_left_sec h1 {
	margin: 100px 0 200px 0;
	font-family: var(--bebas-font);
	font-size: 100px;
}

.hero_left_sec .intro {
	max-width: 372px;
}

.hero_left_sec .intro h2 {
	font-family: var(--bebas-font);
	font-size: 32px;
}

.hero_left_sec .intro p {
	font-family: var(--poppins-font);
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
}

.hero_right_sec {
	display: flex;
	flex-direction: column;
	justify-content: right;
	align-items: end;
}

.hero_right_sec .tech_head h2 {
	font-family: var(--bebas-font);
	font-size: 130px;
}

.hero_right_sec .social_sec h2 {
	font-family: var(--bebas-font);
	letter-spacing: 1px;
	font-weight: 550;
}

.hero_right_sec .social_sec {
	max-width: 320px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	margin: 100px 0 150px 0;
}

.hero_right_sec .social_sec p {
	font-family: var(--poppins-font);
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 1px;
}

.hero_right_sec .social_sec ul {
	display: flex;
	gap: 5px;
}

.hero_right_sec .social_sec ul li {
	list-style: none;
	padding: 10px;
	border: 1px solid #FFF;
	border-radius: 50%;
	cursor: pointer;
}

/* ==========================================================================
							Enquiry Section
========================================================================== */

.enq_sec {
	background-color: #FFF;
}

.enq_sec h2 {
	font-family: var(--bebas-font);
	font-size: 120px;
}

/* ==========================================================================
							Footer Section
========================================================================== */

footer {
	background-color: var(--primary);
	padding: 40px 30px 0 30px;
}



footer p {
	padding: 5px;
	font-family: var(--poppins-font);
	text-transform: uppercase;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-weight: 200;
}

footer .content {
	display: grid;
	grid-template-columns: 40% 60%;
}

footer .content .left_sec h2,
h3 {
	font-family: var(--bebas-font);
	color: #FFF;
	letter-spacing: 2px;
}

footer .content .left_sec h3 {
	font-size: 30px;
	word-wrap: break-word;
}

footer .content .right_sec {
	display: grid;
	grid-template-columns: 30% 30% 40%;
	margin-bottom: 50px;
}

footer .content .right_sec h2 {
	font-family: var(--bebas-font);
	color: #FFF;
}

footer .content .right_sec ul {
	color: #FFF;
	font-family: var(--poppins-font);
	margin-top: 20px;
}

footer .content .right_sec ul li {
	list-style: none;
	cursor: pointer;
}

footer .content .right_sec ul li a {
	text-decoration: none;
	color: #FFF;
	font-size: 14px;
	letter-spacing: 0;
	font-weight: 300;
	/* cursor: pointer; */
}